<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'rating')}">

<body>

    <div class="container">
        <div class="row">
          <div class="col-lg-10 mt-5 mb-5">
            <h2>Ratings</h2><br/>
            <a href="/rating/create">Create</a>
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
              <thead>
                <tr>
                  <th>Rating</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${ratings}">
                  <td th:text="${item.rateit}"></td>
                  <td th:text="${item.comments}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

</body>
</html>