<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
  <link th:rel="stylesheet" th:href="@{/css/dashboard.css}" />
  


    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/dashboardPage.js}"></script>  
    

      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
        feather.replace()
  </script>
  


</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CRM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer/index">Customers List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rating/index">Ratings List</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaint/index">Complaints List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/index">Dashboard</a>
          </li>
        </ul>
       
      </div>
    </nav> 
    
    <div class="container-fluid">
  
        <th:block th:include="${template}" />
  
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              Copyright @ 2021 CRM - USMP
          </div>
        </div>

    </div>

  </body>
  
  </html>