
<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<body>
 

        <!--Main Content-->

        <div class="row main-content">
            <!--Sidebar left-->
            <div class="col-sm-3 col-xs-6 sidebar pl-0">
                <div class="inner-sidebar mr-3">
                    <!--Image Avatar-->
                    <div class="avatar text-center">
                        <img src="../static/images/crm.jpg" th:src="@{/images/crm.jpg}" alt="" class="rounded-circle" />
                    </div>
                    <!--Image Avatar-->

                    <!--Sidebar Navigation Menu-->
                    <div class="sidebar-menu-container">
                        <ul class="sidebar-menu mt-4 mb-4">
                            <li class="parent">
                                <a href="#" onclick="toggle_menu('dashboard'); return false" class="">
                                    <span class="none">Dashboard <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                                </a>
                                <ul class="children" id="dashboard">
                                    <li class="child"><a href="/dashboard/index" class="ml-4"><i class="fa fa-angle-right mr-2"></i> General</a></li>
                                    <li class="child"><a href="/dashboard/customer" class="ml-4"><i class="fa fa-angle-right mr-2"></i> Customer</a></li>
                                    <li class="child"><a href="/dashboard/complaint" class="ml-4"><i class="fa fa-angle-right mr-2"></i> Complaint</a></li>
                                    <li class="child"><a href="/dashboard/rating" class="ml-4"><i class="fa fa-angle-right mr-2"></i> Rating</a></li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <!--Sidebar Naigation Menu-->
                </div>
            </div>
            <!--Sidebar left-->

            <!--Content right-->
            <div class="col-sm-9 col-xs-12 content pt-3 pl-0">
                <h5 class="mb-3" ><strong>Dashboard</strong></h5>
                
                <!--Dashboard widget-->
                <div class="mt-1 mb-3 button-container">
                    <div class="row pl-0">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                            <div class="bg-white border shadow">
                                <div class="media p-4">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="media-body pl-2">
                                       <div id="allCustomers"></div>
                                        <p><small class="text-muted bc-description">Total Customers</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                            <div class="bg-white border shadow">
                                <div class="media p-4">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-danger">
                                        <i class="fas fa-envelope-open"></i>
                                    </div>
                                    <div class="media-body pl-2">
                                        <div id="allComplaints"></div>
                                        <p><small class="text-muted bc-description">Total Complaints</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                            <div class="bg-white border shadow">
                                <div class="media p-4">
                                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-yellow">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="media-body pl-2">
                                        <div id="avgRating"></div>
                                        <p><small class="text-muted bc-description">Average Rating</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Dashboard widget-->

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <!--Complaint map-->
                        <div class="mt-1 mb-3 p-3 button-container bg-white shadow-sm border">
                            <h4 class="mb-3">Complaint per Month</h4><hr>
                            
                            <div id="complaintMonth" style="width: 100%; height: 350px"></div>
                            
                        </div>
                        <!--/Complaint map-->

                    </div>
                    
                    
                    <div class="col-sm-6">
                        <!--Rating Graph-->
                        <div class="mt-1 mb-3 button-container bg-white border shadow-sm p-3">
                            <h4 class="mb-3">Count per Ratings</h4><hr>
                            
                                <div id="ratingNumber"style="width: 100%; height: 350px"></div>
                        
                        </div>
                        <!--/Rating Graph-->
                    </div>
                </div>

                <!--New customers Section-->
                <div class="mt-1 mb-3 p-3 button-container bg-white shadow-sm border">
                    <h4>New Customers per Month(Current Year)</h4><hr>
                    <div class="row mb-3">
                        <div class="col-sm-12 ol-12">
                            <div id="chart_wrap">
                                <div id="customersMonth" class="chart"></div>
                            </div>
                            <div>
                                <button id="b1" class="btn btn-outline-primary">Prev.</button>
                                <button id="b2" class="btn btn-outline-primary">Next</button>
                                <button id="b3" class="btn btn-outline-primary">Change Zoom</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!--New customers Section-->


            </div>
        </div>

        <!--Main Content-->

    <script th:src="@{/js/dashboard.js}"></script>  

</body>
