<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'complaint')}">

<body>

    <div class="container">
        <div class="row">
          <div class="col-lg-10 mt-5 mb-5">
            <h2>Customer</h2><br/>
            <a href="/complaint/create">Create</a>
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Subject</th>
                  <th>Explanation</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${complaints}">
                  <td th:text="${item.id}"></td>
                  <td th:text="${item.subject}"></td>
                  <td th:text="${item.explanation}"></td>
                  <td th:text="${item.date}"> </td>
            
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

</body>
</html>